.wrapper {
	margin: auto;
	width: 80%;
}
.header {
	display: flex;
	justify-content: space-between;
}
.logo {
	position: relative;
	padding: 40px 0;
	padding-left: 44px;
	font: bold 24px/32px pt_serif, arial, helvetica, sans-serif;
}
.logo__circle {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 28px;
	height: 28px;
	border-radius: 50%;
	opacity: .7;
}
.logo__circle_color_dark-blue {
	background: #0056EC;
}
.logo__circle_color_blue {
	left: 8px;
	top: 56%;
	background: #C8DBFB;
}
.menu {
	display: flex;
	align-items: center;
}
.menu__item {
	position: relative;
	margin-right: 26px;
	font: 500 14px/16px roboto, arial, helvetica, sans-self;
	color: #000;
	text-decoration: none;
	transition: opacity .5s;
}
.menu__item:last-child {
	margin-right: 0;
}
.menu__item_active::after {
	position: absolute;
	display: block;
	content:'';
	left: 0;
	width: 100%;
	height: 3px;
	background: #0056EC;
}
.menu__item:hover {
	opacity: .5;
}
.menu__item:after {
	position: absolute;
	display: block;
	content:'';
	left: 0;
	width: 100%;
	height: 3px;
	background: #0056EC;
	opacity: 0;
	transition: opacity .5s;
}
.menu__item:hover:after, .menu__item_active:after {
	opacity: 1;
}
.main-contect__title{
	font: bold 24px/32px pt_serif, arial, helvetica, sans-serif;
}
.main-contect__subtitle{
		font: 500 18px/21px roboto, arial, helvetica, sans-self;
}
.main-contect__button{
		font: 500 14px/16px roboto, arial, helvetica, sans-self;
}
