.wrapper {
	margin: auto;
	width: 80%;
}
.header {
	margin-bottom: 100px;
	display: flex;
	justify-content: space-between;
}
.logo {
	position: relative;
	padding: 40px 0;
	padding-left: 44px;
	font: bold 24px/32px pt_serif, arial, helvetica, sans-self;
}
.logo__circle {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 28px;
	height: 28px;
	border-radius: 50%;
	opacity: .7;
}
.logo__circle_color_dark-blue {
	background: #0056EC;
}
.logo__circle_color_blue {
	left: 8px;
	top: 56%;
	background: #C8DBFB;
}
.menu {
	display: flex;
	align-items: center;
}
.menu__item {
	position: relative;
	margin-right: 26px;
	font: 500 14px/16px roboto, arial, helvetica, sans-self;
	color: #000;
	text-decoration: none;
	transition: opacity .5s;
}
.menu__item_burger{
	display: none;
}
.menu__item:last-child {
	margin-right: 0;
}
.menu__item_active::after {
	position: absolute;
	display: block;
	content:'';
	left: 0;
	width: 100%;
	height: 3px;
	background: #0056EC;
}
.menu__item:hover {
	opacity: .5;
}
.menu__item:after {
	position: absolute;
	display: block;
	content:'';
	left: 0;
	width: 100%;
	height: 3px;
	background: #0056EC;
	opacity: 0;
	transition: opacity .5s;
}
.menu__item:hover:after, .menu__item_active:after {
	opacity: 1;
}
.main{
	padding: 0 63% 100px 0;
	background: top right no-repeat url(img/pic.svg);
}
.main__title{
	margin: 0 0 40px 0;
	font: bold 50px/66px pt_serif, arial, helvetica, sans-self;
}
.main__title-text_highlight{
	background-color: #ECF3FF;
}
.main__subtitle{
	margin: 0 0 41px 0;
	font: 500 18px/21px roboto, arial, helvetica, sans-self;
}
.main__button{
	display: inline-block;
	font: 500 14px/16px roboto, arial, helvetica, sans-self;
	color: #fff;
	background: #0056EC;
	padding: 14px 16px;
	text-decoration: none;
	border-radius: 4px;
}
@keyframes bounce {
	0%, 20%, 60%, 100% {
		transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		transform: translateY(-10px);
		transform: translateY(-10px);
	}
}
.main__button:hover {
	animation: bounce 1s;
}
@media (max-width: 767px){
	.menu{
		display: none;
	}
	.menu__item_burger{
		display: block;
		position: relative;
		width: 25px;
		height: 17px;
		margin-top: 32px;
		margin-right: 24px;
	}
	.menu__item_burger span {
		position: absolute;
		background: #0056EC;
		left: 0;
		width: 100%;
		height: 3px;
		top: 7px;
	}
	.menu__item_burger:before,
	.menu__item_burger:after{
		content: '';
		background: #0056EC;
		position: absolute;
		width: 100%;
		height: 3px;
		left: 0;
	}
	.menu__item_burger:before{
		top: 0;
	}
	.menu__item_burger:after{
		bottom: 0;
	}
	.header{
		margin-bottom: 28px;
	}
	.logo__text{
		display: none;
	}
	.main{
		text-align: center;
		padding: 74% 0 0;
		background-size: 74%;
		background-position: top center;
	}
	.main__title{
		margin-bottom: 44px;
		font: bold 30px/40px pt_serif, arial, helvetica, sans-self;
	}
	.main__subtitle{
		margin-bottom: 25px;
		font: 500 16px/19px roboto, arial, helvetica, sans-self;
	}
	.main__button{
		font: 500 14px/16px roboto, arial, helvetica, sans-self;
	}
}
